/*generate columns for 12 column grid*/
.generate-columns(@n, @i: 1) when (@i =< @n) {
  .span-@{i} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1));
}

/*dimension variables*/
@padding-default: 10px;
@margin-container: 0.05;
@width-max-phone: 480px;
@width-max-tablet: 800px;


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 
/* Attribute selector */
[class*='span-'] {
  float: left;
  padding: @padding-default;

  :last-of-type {
  	float: right;
  }
}
 
/* row with clearfix hack*/
.row{
	padding: @padding-default;
	:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

.container {
  margin-left: percentage(@margin-container);
  margin-right: percentage(@margin-container);
  padding: @padding-default;
}

/* Main Widths */
.generate-columns(12);

/* responsive media queries*/
/*base tablet to small desktop styles*/
@media (min-width: 800px) and (max-width: 1100px){

}

/*base tablet styles*/
@media (max-width: @width-max-tablet){
  [class*='span-']{
    width: 100%;
  }
}

/*base mobile styles - everything 100%*/
@media (max-width: @width-max-phone){
}