/* font face imports*/
@font-face{
	font-family: 'Regular';
	src: url('../assets/fonts/raleway/Raleway-Regular.ttf');
}

@font-face{
	font-family: 'Thin';
	src: url('../assets/fonts/raleway/Raleway-Thin.ttf');
}

@font-face{
	font-family: 'Light';
	src: url('../assets/fonts/raleway/Raleway-Light.ttf');
}

@font-face{
	font-family: 'Bold';
	src: url('../assets/fonts/raleway/Raleway-SemiBold.ttf');
}

/*font size definitions*/
@font-size-body-default: 14px;
@line-height-body-default: 1.5;
@font-size-h1-default: 36px;
@font-size-h2-default: 30px;
@font-size-h3-default: 24px;
@font-size-h4-default: 18px;

@colour-text-default: #333;

.thin{
	font-family: Thin;
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
	font-family: Regular;
	font-size: @font-size-body-default;
	line-height: @line-height-body-default;
	color: @colour-text-default;
	// .font-smoothing;
}

h1{
	font-size: @font-size-h1-default;
	.thin;
}
h2{
	font-size: @font-size-h2-default;
	.thin;
}
h3{
	font-size: @font-size-h3-default;
	.thin;
}
h4{
	font-size: @font-size-h4-default;
	.thin;
}